* {
  box-sizing: border-box;
}

.slideshow-container {
  width: 80%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}
.mySlides img {
  height: 400px;
}

.dot {
  cursor: pointer;
  height: 20px;
  width: 30px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
  border-left: 1px solid white;
}
.dots {
  background-color: white;
  padding: 10px;
  box-shadow: 0px 10px 18px #888;
  width: 80%;
  text-align: right;
  margin: 0 auto;
  margin-top: -22px;
  font-size: 0;
  border-right: 2px solid #f5c5c5;
  border-bottom: 2px solid #f5c5c5;
}

.active,
.dot:hover {
  background-color: #f5c5c5;
}
